.wrapper{
  display: flex;
  flex-direction: column;
  gap: 4px;
  .condition{
    display: flex;
    flex-direction: row;
    gap: 4px;
  }
  .control{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 4px;
  }
}
