.wrapper{
  height: 100%;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .logContainer{
    display: flex;
    flex-direction: row;
    flex:1;
    overflow-y: scroll;
    .log{
      overflow-y: scroll;
      flex: 1;
      .speaking{
        color:gray;
        grid-column: 2/3;
      }
    }
  }
}

.list{
  display: grid;
  grid-template-columns: 75px 1fr;
  gap: 8px;
  overflow-y: scroll;
  flex: 1;
  .item{
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1/3;
    .date{
      grid-column: 1/2;
    }
    .content{
      grid-column: 2/3;
    }
  }
}
