.wrapper{
  height: 100%;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .logContainer{
    display: flex;
    flex-direction: row;
    flex:1;
    overflow-y: scroll;
    .log{
      overflow-y: scroll;
      flex: 1;
    }
  }
}