.table{
  display: grid;
  grid-template-columns: 1fr 1fr 50px 50px;
  padding: 4px 0;
  .header{
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1/5;
    gap: 4px;
    .name{
      grid-column: 1/2;
    }
    .condition{
      grid-column: 2/3;
    }
    .osc_key{
      grid-column: 3/4;
    }
    .action{
      grid-column: 4/5;
    }
    border-bottom: solid 4px #ccc;
  }


  .body{
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1/5;
    border-bottom: solid 2px #ccc;
    padding: 4px 0;
    gap: 4px;
    .name{
      grid-column: 1/2;
    }
    .condition{
      display: flex;
      flex-direction: column;
      grid-column: 2/3;
    }
    .osc_key{
      grid-column: 3/4;
    }
    .action{
      grid-column: 4/5;
    }
  }
}
